[run]
source = parser, reports
omit =
    */__init__.py
    reports/apps.py
    parser/management/*

[report]
exclude_lines =

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

ignore_errors = True
